<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Album</title>
</head>
<body>
<h1>Album List</h1>

<div>
    <a href="/album/add">Add New Album</a>
</div>

<a href="/song/list">Go to song list</a>
<a href="/artist/list">Go to artist list</a>
<a href="/genre/list">Go to genre list</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Release Date</th>
        <th>Songs</th>
        <th>Actions</th>
    </tr>
    <tr th:each="album : ${albums}">
        <td th:text="${album.albumID}"></td>
        <td th:text="${album.albumName}"></td>
        <td th:text="${album.releaseDate}"></td>
        <td>
            <ul>
                <li th:each="song : ${album.songsOfAlbum}">
                    <span th:text="${song.title}"></span>
                    <span th:if="${song.artistsOfSong != null and #lists.size(song.artistsOfSong) > 0}">
                        (by
                        <span th:each="artist, iterStat : ${song.artistsOfSong}">
                            <span th:text="${artist.artistName}"></span><span th:if="${!iterStat.last}">, </span>
                        </span>
                        )
                    </span>
                </li>
            </ul>
        </td>
        <td>
            <a th:href="@{'/album/update/' + ${album.albumID}}">Edit</a>
            <a th:href="@{'/album/delete/' + ${album.albumID}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
