<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Album</title>
</head>
<body>
<h1>Add New Album</h1>

<form th:action="@{/album/add}" th:object="${album}" method="post">
    <label for="albumName">Album Name:</label>
    <input type="text" th:field="*{albumName}" id="albumName" required />
    <br/><br/>

    <label for="releaseDate">Release Date:</label>
    <input type="date" th:field="*{releaseDate}" id="releaseDate" />
    <br/><br/>

    <label for="coverImage">Cover Image URL:</label>
    <input type="text" th:field="*{coverImage}" id="coverImage" />
    <br/><br/>
    <!-- artist & song -->
    <label>Songs:</label><br/>
    <select multiple th:field="*{songsOfAlbum}" size="5">
        <option th:each="song : ${songs}" th:value="${song.songID}" th:text="${song.title}"></option>
    </select><br/><br/>

    <label>Artists:</label><br/>
    <select multiple th:field="*{artistsOfAlbum}" size="5">
        <option th:each="artist : ${artists}" th:value="${artist.artistID}" th:text="${artist.artistName}"></option>
    </select><br/><br/>
    <button type="submit">Add Album</button>
</form>
</body>
</html>
